html {
  background-color: #F2F2F2;

  fontFamily: "IBM Plex Mono";

}

body {
  fontFamily: "IBM Plex Mono";
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

